@charset "UTF-8";

@media screen and (min-width:620px) {
    span.material-symbols-outlined {
        display: none;
    }

    menu {
        display: block;
    }

    header>menu>ul>li {
    
        display: inline-block;
        background-color: white;
        padding: 12px;
        margin: auto;
        border: 1px solid lightgray;
        text-align: center;
    
    
        
    }

    main>article{
        width: 500px;
    }

}