@charset "UTF-8";


@media screen and (min-width:700px)  {  section {

 width: 600px; border: 1px solid white;  
border-radius: 3px;
} 

 .parte1 > h1 {

display: none;




 }

 .parte1 > p {

 color: white;
 font-size: 1.3em;
border: 1px solid white;

 background-color: darkblue;

 margin-bottom: 2px;

 }


 section {

    background-color: darkblue;

 }

 .parte2 > div .caixa {

      position: relative;

      

 }

 div .input1 {

    position: relative;
    left: 350px;
    

 }

 div.input1>  a {

    color: white;

 }

 div   .input2  {

    position: relative;
    top: 75px;
    left: 350px;
    background-color: darkblue;
    border-radius: 3px;
    border: 1px solid white;
    


 }

 div   .input2:hover  {    background-color: rgb(2, 2, 104);
 }

 .parte2 > div .caixa > input {

width: 500px;




 }

 div.parte2 > .label1, .label2 {

    color: white;
    position: relative;
    bottom: 5px;
    right: 175px;

    
    
     }




 }