@charset "UTF-8";

@media screen and (min-width:700px) {
   section {
    width: 600px;
   }
   .caixa1, .caixa2 {
    width: 500px;
    background-color: white;
   }
   input {
    width: 430px;
    border: 2px solid orangered;   
   }
   span {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
   }
   .ent>input {
    background-color: white;
    color: orange;
    width: 100px;
    position: relative;
    left: 450px;
   }
   .ent>input:hover {
    background-color: white;
    color: darkorange;
   }
   .ent>a {     
    position: relative;
    left: 350px;
    bottom: 25px;
   }
   section>.part1>h1  {
    background-color: white;
    color: orangered;
   }
}