@charset "UTF-8";


@media screen and (min-width:700px) and (max-width:1000px) {


    body {

        background-image: linear-gradient( to top,rgb(57, 184, 178),darkslateblue);
    
    }

    section#login {

        width: 600px;

    }

    section#login > div#imagem {

        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

}


@media screen and (min-width: 1000px) {

body {

    background-image: linear-gradient( to top, rgb(57, 184, 178),darkslateblue);

}

    section#login {

        width: 800px;

    }

    section#login > div#imagem {

        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }



}