@charset "UTF-8";



body {
    height: 0px;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
   
}

img {
    height: 900px;
    width: 99%;
    display: block;
   
   
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 23px;
    background-size: cover;


}


::-webkit-scrollbar {

    width: 0;
}


a{

    width: 99%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
text-align: center;
background-color: rgb(0, 106, 37);
display: block;
padding: 10px;
padding-left: 0;
padding-right: 0;
border: 1.2px solid rgb(0, 0, 0);
color: rgb(255, 255, 255);

text-decoration: none;
font-weight: bolder;
}


